{% extends "chart/base.html" %}

{% block content %}

{% if user.is_authenticated %}
{% load static %}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">


    <div class="row">
        <div class="col-sm-12">
            <form role="search" class="navbar navbar-expand-lg navbar-light bg-light" method="GET">
                {% csrf_token %}
                <div class="form-group d-flex">
                    <label for="nw_lat"> nw_lat：</label><input type="text" placeholder="Please enter nw_lat …" class="form-control search" name="nw_lat" value="{{nw_lat}}" id="nw_lat">
                </div>
                <div class="form-group d-flex">
                    <label for="nw_long"> nw_long：</label><input type="text" placeholder="Please enter nw_long …" class="form-control search" name="nw_long" value="{{nw_long}}" id="nw_long">
                </div>
                <div class="form-group d-flex">
                    <label for="se_lat"> se_lat：</label><input type="text" placeholder="Please enter se_lat …" class="form-control search" name="se_lat"  value="{{se_lat}}" id="se_lat">
                </div>
                <div class="form-group d-flex">
                    <label for="se_long"> se_long：</label><input type="text" placeholder="Please enter se_long …" class="form-control search" name="se_long"  value="{{se_long}}" id="se_long">
                </div>
                <div class="form-group d-flex">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="float: none">
                    <div class="ibox-tools" style="width: 100%">
                        <img src="draw?type=pie&nw_lat={{nw_lat}}&nw_long={{nw_long}}&se_lat={{se_lat}}&se_long={{se_long}}" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="float: none">
                    <div class="ibox-tools" style="width: 100%">
                        <img src="draw?type=grid&nw_lat={{nw_lat}}&nw_long={{nw_long}}&se_lat={{se_lat}}&se_long={{se_long}}" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="float: none">
                    <div class="ibox-tools" style="width: 100%">
                        <img src="draw?type=barh&nw_lat={{nw_lat}}&nw_long={{nw_long}}&se_lat={{se_lat}}&se_long={{se_long}}" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="float: none">
                    <div class="ibox-tools" style="width: 100%">
                        <img src="draw?type=scatter&nw_lat={{nw_lat}}&nw_long={{nw_long}}&se_lat={{se_lat}}&se_long={{se_long}}" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% else %}
<div class="container py-5">
    <h1 class="text-center">ITMD 513 FinalProject - Crime Rate Statistics</h1>
    <h1 class="text-center">Welcome to the Crime Rate Statistics Website</h1>
    <p class="text-center">Use this Django website to explore crime rate statistics</p>
    <h2 class="text-center">Contributors:</h2>
    <ul class="list-unstyled text-center">
        <li>Gengxin Li - A20478998 (gli41@hawk.iit.edu)</li>
        <li>Qiyun Zhu - A20479136 (qzhu20@hawk.iit.edu)</li>
    </ul>
    <h3 class="text-center">Please <a href="login">login</a> first to access the secured features.</h3>
</div>
{% endif %}

{% endblock %}